* {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* End Global Rules*/

:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --main-duration: 0.5s;
}
html {
  scroll-behavior: smooth;
}
.header {
  background-color: #f6f6f6;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 6;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}
.logo {
  width: 60px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .links {
  position: relative;
}

.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-wrap: wrap;
  cursor: pointer;
}

.header .links:hover .icon sp
an:nth-child(2) {
  width: 100%;
}

.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}

.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  transition: width 0.3s;
  width: 60%;
}

.header .links .icon span:last-child {
  width: 100%;
}

.header .links ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  right: 0;
  min-width: 200px;
  top: calc(100% + 20px);
  display: none;
  z-index: 1;
}

.header .links ul::before {
  position: absolute;
  content: "";
  border-color: transparent transparent black transparent;
  border-width: 10px;
  border-style: solid;
  top: -20px;
  right: 5px;
}

li a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: black;
  transition: 0.3s;
}
li a:hover {
  padding-left: 10px;
}

.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}

/* End Header */

/* Start Landing Page */

.landing {
  background-image: url(..img/wallhaven-5g1ep5.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
}

.intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}

.intro-text p {
  font-size: 19px;
  color: white;
  line-height: 1.8;
  font-weight: 600;
}

.intro-text h1 {
  color: var(--main-color);
  font-size: 50px;
  font-weight: 900;
  margin: 0;
}

/* End Landing Page */

/* Start Features */
.features {
  padding: 60px 0;
  background-color: #f6f6f6;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: center;
  justify-content: space-between;
  grid-gap: 20px;
}
.features .container i {
  color: var(--main-color);
}
.feat {
  padding: 20px;
  text-align: center;
}
.feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}

/* End Features */

/* Start Services  */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -4px;
  margin: 0;
}
.special-heading + p {
  margin-top: -30px;
  text-align: center;
  color: #797979;
  font-size: 18px;
}
.services {
  padding: 60px 0;
}
.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
  margin-top: 30px;
}

.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
  text-align: center;
}
.srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.srv .text {
  flex: 1;
}

.srv .text h3 {
  margin: 0 0 20px;
}

.srv .text p {
  font-size: #444;
  font-weight: 300;
  line-height: 1.8;
}

.services .services-content .image {
  text-align: center;
  position: relative;
}

.services .services-content .image::before {
  content: "";
  position: absolute;
  right: 0;
  background-color: var(--secondary-color);
  width: 80px;
  height: calc(100% + 100px);
  top: -50px;
  z-index: -1;
}
.image img {
  width: 260px;
}
/* End Services  */

/* Start Protfolio  */

.protfolio {
  padding: 60px 0;
  background-color: #f6f6f6;
  position: relative;
}
.about-protfolio img {
  width: 100%;
}
.about-protfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
  margin-bottom: 50px;
}
.about-protfolio h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.about-protfolio p {
  line-height: 1.7;
  color: #777;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  transition: transform 0.3s;
  cursor: pointer;
}
.info-text {
  padding: 20px;
}
.card:hover {
  transform: scale(1.02);
}

.protfolio button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: white;
  border: none;
  border-radius: 9999px;
  background-color: #333;
  transition: all 0.7s;
  cursor: pointer;
}

.protfolio button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* End Protfolio  */
/* Start about */
.about {
  padding-top: 60px;
  padding-bottom: 120px;
}
.img img {
  max-width: 100%;
}

.about-content .img {
  position: relative;
  width: 250px;
  height: 375px;
}

.about-content .img::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  background-color: #eee;
  left: -20px;
  top: -40px;
  z-index: -1;
}

.about-content .img::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
  top: -20px;
}
.about-content {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-content .text {
  flex: 1;
  padding-left: 250px;
}

.about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}

.about-content .text p:last-of-type {
  line-height: 2;
  color: #777;
}

.about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
/* End about */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
  padding: 60px 0;
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
/* End Contact */
/* Start Footer */
.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */

@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }

  .srv {
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 1199px) {
  .image-col {
    display: none;
  }
}

@media (max-width: 991px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }
  .about-content .img::after,
  .about-content .img::before {
    display: none;
  }
  .about-content .text {
    padding-left: 0;
  }
  .about-content .img {
    margin: 0 auto 60px;
  }
}
