body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #404a65;
  flex-direction: column;
  font-family: "Kanit", sans-serif;
  padding: 20px;
}

.shadow {
  width: 40%;
  max-width: 200px;
}
h1 {
  font-size: clamp(2rem, 6vw, 4rem);
  color: white;
  font-weight: 600;
  text-align: center;
}
h2 {
  font-weight: 1.5rem;
  font-weight: 600;
  color: white;
}
.box {
  position: relative;
  width: 40vw;
  max-width: 200px;
  height: 40vw;
  max-height: 200px;
  transform-style: preserve-3d;
}
.face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.cointeer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 50px;
  align-items: center;
  perspective: 800px;
}

button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  border-radius: 15px;
  background-color: #206fb1;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
}

.result {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
}
.tails {
  transform: rotatex(180deg);
}

@keyframes spin-head {
  0% {
    transform: rotatex(0);
  }
  100% {
    transform: rotatex(1980deg);
  }
}

@keyframes spin-tail {
  0% {
    transform: rotatex(0);
  }
  100% {
    transform: rotatex(2160deg);
  }
}
